@import '../../../ui-colors.scss';

.featureGroupTitle {
  //padding: 7px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.featureGroupDescription {
  //padding: 7px;
  font-size: larger;
}

.featureGroupBody {
  padding: 7px;
}

.noPoints {
  color: $negative;
}
.enoughPoints {
  color: $positive;
}

.hide {
  cursor: pointer;
  color: $link;
  margin-bottom: 25px;
}

.featureDescription {
  //font-size: 80%;
  font-weight: 100;
  margin-left: 10px;
}

.featureGroupDescriptionWrapper {
  margin-left: 10px;
}

.hypothesis {
  padding-left: 10px;
}
