* {
  --positive: #00A000;
  --negative: red;
  --link: blue;

  /*--light-green: #00cc99;*/
  --light-green: rgba(0, 204, 37, 0.22);
  --light-red: rgba(200, 0, 0, 0.22);
  /*--light-red: #8b454f;*/

  --modalMainText: black;
  --modalBackground: rgba(135,135,135, 0.9);
  --font-family-base: Arial;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: darkgray;*/
}

a {
  color: #00B7FF;
}


html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.navigation {
  display: inline-block;
  padding: 7px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.body-background {
  position: relative;
}

.body-wrapper {
  padding: 15px;
}

.moneyNegative,
.moneyPositive {
  cursor: pointer;
}

.moneyPositive {
  color: var(--positive);
}

.moneyNegative {
  color: var(--negative);
}

.text {
  color: var(--modalMainText);
}

.button1 {
  min-width: 280px;
}

.featureGroupTitle {
//padding: 7px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.featureGroupDescription {
//padding: 7px;
  font-size: larger;
}

.featureGroupBody {
  padding: 7px;
}

.noPoints {
  color: var(--negative);
}
.enoughPoints {
  color: var(--positive);
}

.hide {
  cursor: pointer;
  color: var(--link);
  margin-bottom: 25px;
}

.featureDescription {
//font-size: 80%;
  font-weight: 100;
  margin-left: 10px;
}

.smallText {
  font-size: 16px;
  /*font-weight: 100;*/
  /*margin-left: 10px;*/
}

.featureGroupDescriptionWrapper {
  margin-left: 10px;
}

.hypothesis {
  padding-left: 10px;
}

.hypothesis-wrapper {
  padding-left: 10px;
  padding-top: 10px;
}

.worker-button-container {
  overflow: hidden;
}

.worker-button {
  float: left;
  margin-right: 15px;
}

.worker-item {
  margin-bottom: 25px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.messageTab {
  position: fixed;
  background-color: var(--modalBackground);
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}

.btn {
  cursor: pointer;
  transition: color 0.5s ease;
}

.btn:hover {
  color: #00a8c6;
}

.navigation:hover {
  color: #00a8c6;
  /*transition: 0.2ms color ;*/
}

.offset-min {
  padding-left: 10px;
}

.offset-mid {
  padding-left: 20px;
}

.competitor {
  padding-bottom: 9px;
}

.competitor.competeable {
  background-color: var(--light-green)
}

.competitor.uncompeteable {
  background-color: var(--light-red)
}

