@import '../ui-colors.scss';

.navigation {
  display: inline-block;
  padding: 7px;
  cursor: pointer;
}

.background {
  position: relative;
}

.wrapper {
  padding: 15px;
}

.moneyNegative,
.moneyPositive {
  cursor: pointer;
}

.moneyPositive {
  color: $positive;
}

.moneyNegative {
  color: $negative;
}
